{% extends 'layouts/base.html' %} 
{% block content %}
<body class="antialiased bg-slate-200 text-slate-700 mx-2">
  <div
    class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300"
  >
    <h1 class="text-3xl font-medium">Lista de Tareas</h1>
    <p class="text-slate-500">
      Hola, aquí tienes tus tareas pendientes. ¡A por ellas!
    </p>

    <form class="my-5" method="POST">
      

      <div class="flex items-center gap-2">
        <div class="flex-1">
          
        </div>
  
        <button
          class="bg-indigo-600 rounded-full w-8 h-8 flex justify-center items-center flex-shrink-0 hover:bg-indigo-700 transition ease-linear duration-150"
        >
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 8H8M8 8H15M8 8V1M8 8V15"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </form>

    <div id="tasks" class="my-5">
      
      <div
        class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4 border-l-transparent {% if task.completed == False %} bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150 {% endif %}"
      >
        <div class="inline-flex items-center space-x-2">
          <form action="/complete/{{ task.id }}" method="POST">
            
            <button type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 text-slate-500 hover:text-indigo-600 hover:cursor-pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </button>
          </form>

          <div
            class="{% if task.completed %} text-slate-500 line-through {% endif %}"
          >
            
          </div>
        </div>

        <form action="/delete/{{ task.id }}">
          
          <button type="submit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 text-slate-500 hover:text-slate-700 hover:cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
              />
            </svg>
          </button>
        </form>

        
      </div>
      
    </div>
    
    <p class="text-xs text-slate-500 text-center">
      Desarrollado por Grupo 4
    </p>
  </div>
</body>
{% endblock %}
